
<!-- Login -->
<div class="row">
  <div class="col-12-xs">
    <h2>Please Log In Sir or Ma'am</h2>
    <form method="POST" action="/profile">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="username">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<!-- Sign Up -->
<div class="row">
  <div class="col-12-xs">
    <h2>Please Sign Up</h2>
    <form method="POST" action="/newprofile">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="username">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
