<div class="row">
  <div class="col-12-xs">
    <h2>Please Log In</h2>
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="username">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
