<div class="row">
  <div class="col-12-xs">
    <h2>Please Sign Up</h2>

    <form method="POST" action="/profileCreate">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" class="form-control" id="fname" name="profiles[fname]"/>
      </div>

      <div class="form-group">
        <label for="lname">Last Name:</label>
        <input type="text" class="form-control" id="lname" name="profiles[lname]"/>
      </div>

      <div class="radio">
        <label for="gender">
        <input type="radio" id="gender" value='Male' name="profiles[gender]"/>Male
        </label>
      </div>

      <div class="radio">
        <label for="gender">
        <input type="radio" id="gender" value='Female' name="profiles[gender]"/>Female
        </label>
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="profiles[city]"/>
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <select class="form-control" id="age" name='profiles[age]'>
          <option>25</option>
          <option>30</option>
          <option>35</option>
          <option>40</option>
        </select>
      </div>

      <div class="form-group">
        <label for="distance">Distance:</label>
        <select class="form-control" id="distance" name='profiles[distance]'>
          <option>-1</option>
          <option>0</option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="occupation">Occupation:</label>
        <input type="text" class="form-control" id="occupation" name="profiles[occupation]"/>
      </div>

      <div class="form-group">
        <label for="education">Education:</label>
        <input type="text" class="form-control" id="education" name="profiles[education]"/>
      </div>

      <div class="form-group">
        <label for="children">Children:</label>
        <select class="form-control" id="children" name='profiles[children]'>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>

      <div class="form-group">
        <label for="mstatus">Martial Status</label>
        <select class="form-control" id="mstatus" name='profiles[mstatus]'>
          <option>single</option>
          <option>married</option>
          <option>engaged</option>
        </select>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
